.title
{
    margin: var(--margin-24) var(--margin-16);

    font-size: var(--font-24);
    font-weight: 600;

    color: var(--gray-1);
}

.list
{
    margin-top: var(--margin-12);

    .list-item
    {
        margin: var(--margin-12) var(--margin-16);
        border-radius: var(--radius-8);
        padding-left: var(--margin-16);
        height: 80rpx;

        font-size: var(--font-12);
        line-height: var(--font-12);

        color: var(--gray-3);
        background-color: var(--blue-background);

        align-items: center;
    }
}

.ai-button
{
    margin-top: var(--margin-24);
}
