page
{
    --background: rgba(251, 252, 253, 1);

    --mask-background: rgba(0, 0, 0, .25);
    --blue: rgba(37, 161, 255, 1);
    --blue-60: rgba(37, 161, 255, .6);
    --blue-linear: linear-gradient(90deg, var(--blue) 0%, var(--blue-60) 100%);
    --blue-light: rgba(146, 208, 255, 1);
    --blue-dark: rgba(30, 129, 204, 1);
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --white-transparent: rgba(255, 255, 255, .2);
    --yellow: rgba(255, 206, 0, 1);
    --yellow-60: rgba(255, 206, 0, .6);
    --yellow-linear: linear-gradient(90deg, var(--yellow) 0%, var(--yellow-60) 100%);
    --red: rgba(244, 67, 54, 1);
    --red-60: rgba(244, 67, 54, .6);
    --red-linear: linear-gradient(90deg, var(--red) 0%, var(--red-60) 100%);
    --green: rgba(76, 175, 80, 1);
    --green-60: rgba(76, 175, 80, .6);
    --green-linear: linear-gradient(90deg, var(--green) 0%, var(--green-60) 100%);
    --gray-4-60: rgba(204, 204, 204, .6);
    --gray-linear: linear-gradient(90deg, var(--gray-4) 0%, var(--gray-4-60) 100%);
    --blue-background: rgba(242, 246, 250, 1);
    --blue-unchecked: rgba(233, 245, 255, 1);
    --gray-1: rgba(51, 51, 51, 1);
    --gray-2: rgba(102, 102, 102, 1);
    --gray-3: rgba(153, 153, 153, 1);
    --gray-4: rgba(204, 204, 204, 1);
}
