.title
{
    margin-top: var(--margin-19);
    margin-bottom: var(--margin-12);
    margin-left: var(--margin-17_5);

    font-size: var(--font-24);
    font-weight: 600;
}

.subtitle
{
    margin-bottom: var(--margin-32);
    margin-left: var(--margin-17_5);

    font-size: var(--font-12);

    color: var(--gray-2);
}
